.App {
    text-align: center;
    background-color: #335993;
    height: 100%;
    width: 100%;
}

.signout-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.App-header {
    text-align: left;
    font-size: 2rem;
    border-bottom: solid;
    height: 5%;
}

.App-view {
    height: 85%;
    width: 100%;
}

.box-login {
    position: relative;
    width: 30%;
    height: 80%;
    left: 35%;
    background: #F2F0FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-loggedin {
    position: relative;
    width: 80%;
    height: 100%;
    left: 10%;
    background: #F2F0FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-text {
    color: #0B2E86;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: #0B2E86;
}

h1,
h2,
p {
    margin: 0;
}

html,
body,
body>div {
    width: 100%;
    height: 100%;
}